_ReSharper*
*/bin
*/Release
*/Debug
bin
*/obj
obj
TestResults
Thumbs.db 
Desktop.ini
*.swp
.DS_Store
*~
\#*\#
auto-save-list
tramp
*.suo
*.cd
*.csproj.user
*.sln.cache
documents
*.testsettings
**/*.Cache
*.Cache
